target/
dbt_packages/
logs/
_dbt/.user.yml
_dbt/logs
.github/
personal_project/dbt-dag/
dbt_dag/.astro/test_dag_integrity_default.py
dbt_dag/dags/exampledag.py
dbt_dag/tests/dags/test_dag_example.py
personal_project/_stream/.env